</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/aicomp.css">
    <title>Croffle</title>
</head>

<body>
    
    <div class="comp" id="wall">
        <div class="grid">
            <div class="nav">
                <a href="index.html">
                    <div class="img">
                        <img src="./../../assets/image 3.png" alt="">
                    </div>
                    <ul>
                        <li class="active"><a href="#">Chat</a></li>
                        <li><a href="./store.html">Store</a></li>
                        <li><a href="./diary.html">Diary</a></li>
                        <li><a href="./wallpaper.html">Wallpaper</a></li>
                    </ul>
                </div>
            </div>
            <div class="chat">
                <div class="body">
                    <div class="text-bubble">Hello, how can I help you today?</div>
                </div>
                <div class="input">
                    <div class="input1">
                        <input type="text" name="" id="input-field">
                    </div>
                    <div class="button">
                        
                        <button style="background-color: orange;">Send</button>
                        
                    </div>
                </div>
            </div>
            <div class="char">
                <img src="./../../assets/pooh-winnie-the-pooh.gif" alt="">
            </div>
        </div>
    </body>
    <script src="./../../index.js"></script>
    

</html>