<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Croffle</title>
</head>
<body>
    <div class="home">
        <div class="top">
            <div class="nav">
                <a href="index.html">
                    <div class="img">
                        <img src="./../../assets/image 3.png" alt="">
                    </div>
                <div class="left">
                    <a href="./login.html" class="login">Login</a>
                    <a href="./regis.html" class="register">Register</a>
                </div>
            </div>
            <div class="carousel">
                <div class="til">
                    <h1>Croffle AI Companion</h1>
                    <p>Always here to listen and talk. Always on your side</p>
                    <button onclick="move()">Create Your Own Croffle</button>
                </div>
                <div class="img">
                    <img src="./../../assets/image 1.png" alt="">
                </div>
            </div>
        </div>
        <div class="s">
            <div class="tit-bene">
                <h1>What Makes Croffle Best</h1>
            </div>
            <div class="bene">
                <img src="./../../assets/image 2.png" alt="">
                <div class="carsel">
                    <div class="carousel-container">
                        <button class="carousel-btn prev" onclick="prevSlide()">&#10094;</button>
                        <div class="carousel-slide fade-in">
                            <div class="carousel-item">
                                <p>"The critters are the happiest with friends!"</p>
                                <h3>- John Doe -</h3>
                            </div>
                            <div class="carousel-item fade-in">
                                <p>"A hug is always the right size."</p>
                                <h3>- Jane Smith -</h3>
                            </div>
                            <div class="carousel-item fade-in">
                                <p>"Sometimes the smallest things take up the most room in your heart."</p>
                                <h3>- Michael Johnson -</h3>
                            </div>
                        </div>
                        <button class="carousel-btn next" onclick="nextSlide()">&#10095;</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="func">
            <div class="tit-func">
                <h1>Create Your Own Story</h1>
            </div>
            <div class="feat">
                <div class="r">
                    <div class="top">
                        <div class="r1">
                            <div class="p"></div>
                            <h3>Couching</h3>
                        </div>
                        <div class="r1-2">
                            <div class="p"></div>
                            <h3>Diary</h3>
                        </div>
                    </div>
                    <div class="end">
                        <div class="chat">
                            <div class="p"></div>
                            <h3>Chat With Your Character</h3>
                        </div>
                    </div>
                </div>
                <div class="r">
                    <div class="own">
                        <div class="desc">
                            <div class="p"></div>
                            <h3>Create Your own Character</h3>
                        </div>
                    </div>
                    <div class="memory">
                        <div class="desc">
                            <div class="p"></div>
                            <h3>Memory</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-top">
            <div class="desc">
                <img src="./../../assets/image 3.png" alt="">
                <p>Croffle is here to help you navigate life's ups and downs. Inspired by the wisdom of Pooh and powered by AI, Croffle is your companion for every adventure. Let's take things slowly, together.</p>
            </div>
            <div class="about">
                <div class="title">
                    <p>About Croffle</p>                    
                </div>
                <ul>
                    <li>Our Story</li>
                    <li>Press & Media</li>
                </ul>
            </div>
            <div class="help">
                <div class="title">
                    <p>Help & Support</p>
                </div>
                <ul>
                    <li>Help Center</li>
                    <li>Contact us</li>
                </ul>                
            </div>
            <div class="com">
                <div class="title">
                    <p>Join Our Community</p>                    
                </div>
                <ul>
                    <li>Reddit</li>
                    <li>Discord</li>
                </ul>
            </div>
            </div>
            <div class="copyright">
                <p>@Copyright Croffle Team, 2024, inc</p>
            </div>
        </div>
    </div>
</body>
<script src="./../../index.js"></script>
</html>