<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/login.css">
    <title>Croffle</title>
</head>
<body>
    <div class="home">
        <div class="top">
            <div class="nav">
                <a href="index.html">
                    <div class="img">
                        <img src="./../../assets/image 3.png" alt="">
                    </div>
                <div class="left">
                    <a href="./login.html">Login</a>
                    <button>Create an Account</button>
                </div>
            </div>
            <div class="carousel">
                <div class="til">
                    <h1>Croffle AI Companion</h1>
                    <p>Always here to listen and talk. Always on your side</p>
                    <button onclick="move()">Create Your Own Croffle</button>
                </div>
                <div class="img">
                    <img src="./../../assets/image 1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="bc">
        <div class="card">
            <div class="card-header">
                <img src="./../../assets/bg-1.png" alt="">
                <a href="index.html" class="close-btn">X</a>                
            </div>
            <div class="card-body">
                <h1>Login</h1>
                <input style="margin-bottom: 20px;" type="text" placeholder="Username">        
                <input type="text" placeholder="Password">
                <p>Don't have an Account ? <span><a href="regis.html" class="linktoreg">Register Here</a></span></p>        
                <button>Submit</button>
            </div>
        </div>
    </div>

    <script src="./../../index.js"></script>
</body>
</html>