<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/regis.css">
    <title>Croffle</title>
</head>
<body>
    <div class="home">
        <div class="top">
            <div class="nav">
                <a href="index.html">
                    <div class="img">
                        <img src="./../../assets/image 3.png" alt="">
                    </div>
                <div class="left">
                    <a href="./login.html">Login</a>
                    <button>Create an Account</button>
                </div>
            </div>
            <div class="carousel">
                <div class="til">
                    <h1>Croffle AI Companion</h1>
                    <p>Always here to listen and talk. Always on your side</p>
                    <button onclick="move()">Create Your Own Croffle</button>
                </div>
                <div class="img">
                    <img src="./../../assets/image 1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="bc">
        <div class="card">
            <div class="card-header">
                <img src="./../../assets/bng1.png" alt="">                
            </div>
            <div class="card-body">
                <a href="index.html" class="close-btn">X</a> 
                <h1>Register</h1>
                <label for="">Enter Your Username :</label>
                <input style="margin-bottom: 11px;" type="text" placeholder="Username">
                <label for="">Enter Your Email Address :</label>
                <input style="margin-bottom: 11px;" type="text" placeholder="Username"> 
                <div class="gender">
                    <label for="">Enter Your Gender :</label><br/>
                    <div class="r">
                        <div class="gen">
                            <input  type="radio" value="male">Male</input>
                        </div> 
                        <div class="gen">
                            <input  type="radio" value="Female">Female</input>
                        </div> 
                    </div>
                </div>
                <label for="" style="margin-top: 15px;">Enter Your Password</label>       
                <input type="text" placeholder="Password">
                <div class="ask">
                    <input type="checkbox" name="" id="">
                    <label for="">I have read the terms and privacy policy</label>
                </div>        
                <button>Submit</button>
            </div>
        </div>
    </div>
</body>
</html>