<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/store.css">
    <title>Croffle</title>
</head>
<body>
    <div class="comp" id="wall">
        <div class="grid">
            <div class="nav">  
                <div class="img">
                    <img src="./../../assets/image 3.png" alt="">
                </div>              
                <ul>
                    <li ><a href="./home.html">Chat</a></li>
                    <li  class="active"><a href="#">Store</a></li>
                    <li ><a href="./diary.html">Diary</a></li>
                    <li ><a href="./wallpaper.html">Wallpaper</a></li>
                </ul>
            </div>            
        </div>
        <div class="store">

            <div class="store-container">
          
              <div class="navstore">
          
                <ul>

                    <li class="active"><a href="#">Clothes</a></li>
            
                    <li><a href="#">Appearance</a></li>
            
                    <li><a href="#">Wallpaper</a></li>
            
                  </ul>
          
              </div>
          
              <div class="store-content">
          
                <div class="store-options">
          
                  <div class="store-option-container">
          
                    <div class="store-option">

                        <img src="./../../assets/store 1.png" alt="">
                        <div class="store-option-info">

                            <div class="store-option-name">Fedora</div>
                    
                            <div class="store-option-price">$1.99</div>
                    
                          </div>
            
                      </div>
            
                      <div class="store-option">
            
                        <img src="./../../assets/store 2.png" alt="">
                        <div class="store-option-info">

                            <div class="store-option-name">Santa Hat</div>
                    
                            <div class="store-option-price">$2.99</div>
                    
                          </div>
            
                      </div>

                      <div class="store-option">
            
                        <img src="./../../assets/store 3.png" alt="">
                        <div class="store-option-info">

                            <div class="store-option-name">Cowboy Hat</div>
                    
                            <div class="store-option-price">$1.99</div>
                    
                          </div>
            
                      </div>

                      <div class="store-option">
            
                        <img src="./../../assets/store 4.png" alt="">
                        <div class="store-option-info">

                            <div class="store-option-name">Domino Mask</div>
                    
                            <div class="store-option-price">$0.99</div>
                    
                          </div>
                      </div>

                      <div class="store-option">
            
                        <img src="./../../assets/store 5.png" alt="">
                        <div class="store-option-info">

                            <div class="store-option-name">Face Mask</div>
                    
                            <div class="store-option-price">Free</div>
                    
                          </div>
            
                      </div>

                      <div class="store-option">
            
                        <img src="./../../assets/store 6.png" alt="">
                        <div class="store-option-info">

                            <div class="store-option-name">Bow</div>
                    
                            <div class="store-option-price">$0.99</div>
                    
                          </div>
            
                      </div>

                      <div class="store-option">
            
                        <img src="./../../assets/store 7.png" alt="">
                        <div class="store-option-info">

                            <div class="store-option-name">Sweater</div>
                    
                            <div class="store-option-price">$3.99</div>
                    
                          </div>
            
                      </div>

                      <div class="store-option">
            
                        <img src="./../../assets/store 8.png" alt="">
                        <div class="store-option-info">

                            <div class="store-option-name">Suit</div>
                    
                            <div class="store-option-price">$3.99</div>
                    
                          </div>
            
                      </div>
          
                  </div>
          
                </div>
          
                <div class="store-purchase">
          
                  <button class="btn">Purchase</button>
          
                </div>
          
              </div>
          
            </div>
          
          </div>
    </div>
</body>
<script src="./../../index.js"></script>
</html>